### 주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [6]:
import pandas as pd

In [59]:
df = pd.read_csv("data/basic2.csv", parse_dates=['Date'])

# 아래 코드를 한줄로 표현함
# df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv")
# df['Date'] = pd.to_datetime(df['Date'])
# df = df.set_index('Date')

In [60]:
print(df.shape)
df.head(3)

(730, 5)

        Date     Sales      PV      UV  Events
0 2022-01-01  22711525  397349  4421.0       1
1 2022-01-02     36779    3969  2289.0       0
2 2022-01-03  13943875  373890     NaN       1

In [64]:
# 각 주마다 sales의 합계 
wrong = df.groupby(df.Date.dt.week).sum().Sales # 이것이 왜 실패한지 알겠어 ,, 22년도부터 23년도잖아 근데 단순히 ,, week로 묶으니 ,,
Ans = df.groupby([df.Date.dt.year, df.Date.dt.week]).sum().Sales
Ans.shape

/var/folders/8f/71pd4qbx6fbgb8x86tf_pwyc0000gn/T/ipykernel_44767/937365650.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  wrong = df.groupby(df.Date.dt.week).sum().Sales # 이것이 왜 실패한지 알겠어 ,, 22년도부터 23년도잖아 근데 단순히 ,, week로 묶으니 ,,
/var/folders/8f/71pd4qbx6fbgb8x86tf_pwyc0000gn/T/ipykernel_44767/937365650.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  Ans = df.groupby([df.Date.dt.year, df.Date.dt.week]).sum().Sales

(104,)

In [67]:
print(abs(Ans.min()-Ans.max()))

91639050

---

datetime 형태를 인덱스로 받아서 빠르게 분석하는방법!

### 단위 
- 주 단위 W
- 2주 단위 2W
- 월 단위 M

In [68]:
df = pd.read_csv("data/basic2.csv", parse_dates=['Date'], index_col = 0)

# 아래 코드를 한줄로 표현함
# df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv")
# df['Date'] = pd.to_datetime(df['Date'])
# df = df.set_index('Date')

In [69]:
df_w = df.resample('W').sum() # 이렇게 하면 주차별로! 통계값이 나옴. 
df_w

               Sales       PV       UV  Events
Date
2022-01-02  22748304   401318   6710.0       1
2022-01-09  33373822  1148464  15189.0       2
2022-01-16  20754519   283773   9344.0       0
2022-01-23  21880751   538633   9841.0       1
2022-01-30  28878452   560814   7808.0       1
...              ...      ...      ...     ...
2023-12-03  47120909   884734  12086.0       2
2023-12-10  46398053   975024  21872.0       3
2023-12-17  20763518   291261  17221.0       0
2023-12-24  34528035   901451  11732.0       2
2023-12-31  51435189   813019  12168.0       2

[105 rows x 4 columns]

In [70]:
ma = df_w['Sales'].max()
ma

99165648

In [71]:
mi = df_w['Sales'].min()
mi

7526598

In [73]:
print(abs(ma - mi))

91639050