## f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오 
### - 결측치는 f1의 데이터 중 내림차순 정렬 후 10번째 값으로 채움
### - 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
### - 최종 결과값은 절대값으로 출력

- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('data/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [49]:
# 원하는 결측치 대체값 
temp = df.f1.sort_values(ascending = False).iloc[9] # .iloc[]랑 []가 무슨 차이지? iloc는 순서! 조심하자! 
temp

88.0

In [50]:
# 결측치 채우기 
df.f1 = df.f1.fillna(temp)
df.f1.isna().sum()

0

In [51]:
# 중복값 제거 데이터 프레임 

new = df[~df.duplicated(subset = 'age', keep = 'first')] # 중복여부를 구하는게 duplicated이다.

# 중복인것들에 대해 true를 반환하니 조건문 안에는 ~조건문으로 작성하자!

new_df = df.drop_duplicates(subset = 'age') # 이렇게 해도 된대 ㅋㅋㅋㅋ 미친

In [52]:
# 중복 제거 전 후 중앙값 계산 

bef = df.f1.median()
aft = new.f1.median()

In [53]:
print(abs(bef - aft))

0.5

---

실수 했던 것 오류 찾음

In [45]:
df.f1.sort_values(ascending = False)

56    111.0
7     101.0
57    100.0
73     98.0
71     97.0
      ...
85      NaN
86      NaN
89      NaN
93      NaN
96      NaN
Name: f1, Length: 100, dtype: float64

In [46]:
df.f1.sort_values(ascending = False)[56] #헐 ,, 애써 ,, 정렬해놨는데 []를 사용하니까 인덱스로 추출이 되는구나 ,, 충격

111.0