### 2022년 5월 sales의 중앙값을 구하시오

- 데이터셋 : basic2.csv 
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
# 라이브러리 불러오기
import pandas as pd

In [2]:
# 데이터 불러오기
df = pd.read_csv("data/basic2.csv")

In [6]:
# 데이터 확인

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB
None

        Date     Sales      PV      UV  Events
0 2022-01-01  22711525  397349  4421.0       1
1 2022-01-02     36779    3969  2289.0       0
2 2022-01-03  13943875  373890     NaN       1
3 2022-01-04   8088593  142054  2157.0       0
4 2022-01-05   2395374  190684     NaN       0

이렇게 날짜형(시계열) 데이터를 가공해야하면 우선 데이터 형태를 파악하자!  
그리고 데이터 형태가 문자열인 경우엔 날자형으로 수정해줘야함.

In [7]:
# 데이터 타입 변경
df['Date'] = pd.to_datetime(df.Date)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [17]:
# 날짜형 데이터 조건 추출  
# date.year, month를 한번에 하는건 어려운 것 같음. #

# 그래서 나눠서 컬럼 저장

df['year'] = df.Date.dt.year
df['month'] = df.Date.dt.month

In [19]:
#조건 추출 및 중앙값 구하기. 

print(df[ (df['year'] == 2022) & (df['month'] == 5) ].Sales.median())

1477685.0