## 나이 구간 나누기
###  basic1 데이터 중 'age'컬럼 이상치를 제거하고, 동일한 개수로 나이 순으로 3그룹으로 나눈 뒤 각 그룹의 중앙값을 더하시오
### (이상치는 음수(0포함), 소수점 값)
- data: basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [40]:
import pandas as pd

In [48]:
df = pd.read_csv('data/basic1.csv')

In [49]:
# 이상치 확인을 위한 데이터 타입 확인.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [50]:
# age가 정수가 아님. 

print((df.age != abs(df.age)).sum()) # 이건 그냥 ,, 음수인것에 대한 ,, 조건이었어 -0.1도 절대값은 0.1이지 정수가 아님. 
print((df.age != round(df.age,0)).sum())

df = df[ (df.age == round(df.age,0)) & (df.age > 0)]
df.shape

3
8

(90, 8)

In [51]:
# age 순으로 3그룹으로 나눈다. (그룹수는 동일)

df.sort_values(by = 'age', inplace = True)

df1 = df[:30].age.median()
df2 = df[30:60].age.median()
df3 = df[60:].age.median()

In [52]:
# 각 그룹의 합

print(df1 + df2 + df3)

165.0

---

답안

In [53]:
df = pd.read_csv('data/basic1.csv')

In [54]:
# age 이상치 (음수(0포함), 소수점 제거)
print('전체 데이터:', df.shape)
df = df[~(df['age'] <= 0)]
print('음수(0포함)값 제거 후 데이터 크기:', df.shape)

df = df[(df['age'] == round(df['age'],0))]
print('소수점 제거 후 데이터 크기:', df.shape)

전체 데이터: (100, 8)
음수(0포함)값 제거 후 데이터 크기: (96, 8)
소수점 제거 후 데이터 크기: (90, 8)

In [55]:
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [60]:
# 기준 확인
pd.qcut(df['age'], q=3) #이게 어느 구간 안에 속한건지 확인하는 뭐 그런것 같은데?

0      (0.999, 38.667]
1      (0.999, 38.667]
2      (0.999, 38.667]
3      (73.333, 100.0]
4      (0.999, 38.667]
            ...
95     (73.333, 100.0]
96     (73.333, 100.0]
97    (38.667, 73.333]
98     (0.999, 38.667]
99    (38.667, 73.333]
Name: age, Length: 90, dtype: category
Categories (3, interval[float64, right]): [(0.999, 38.667] < (38.667, 73.333] < (73.333, 100.0]]

In [64]:
# 구간 분할
df['range'] = pd.qcut(df['age'], q=3, labels=['group1','group2','group3']) #분배해줌

In [65]:
# 수량 비교
df['range'].value_counts()

group1    30
group2    30
group3    30
Name: range, dtype: int64

In [66]:
# 중간이상 - 중간이하 
g1_med = df[df['range'] == 'group1']['age'].median()
g2_med = df[df['range'] == 'group2']['age'].median()
g3_med = df[df['range'] == 'group3']['age'].median()

print(g1_med + g2_med + g3_med)

165.0