## 주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
# 라이브러리 불러오기
import pandas as pd

In [13]:
# 데이터 불러오기 (datatime컬럼 지정)
df1 = pd.read_csv("data/basic2.csv")
df = pd.read_csv("data/basic2.csv", parse_dates=['Date']) # parse_dates 함수는 변수가 바로 data형으로 변환됨

In [14]:
df1.info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    object
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 28.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [19]:
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['dayofweek'] = df['Date'].dt.dayofweek #요일 출력하는것! 0 = 월 / 6 = 일

In [20]:
df.head()

,Date,Sales,PV,UV,Events,year,month,day,dayofweek,weekend
0,2022-01-01,22711525,397349,4421.0,1,2022,1,1,5,True
1,2022-01-02,36779,3969,2289.0,0,2022,1,2,6,True
2,2022-01-03,13943875,373890,NaN,1,2022,1,3,0,False
3,2022-01-04,8088593,142054,2157.0,0,2022,1,4,1,False
4,2022-01-05,2395374,190684,NaN,0,2022,1,5,2,False

In [23]:
df['weekend'] = df['dayofweek'].apply(lambda x: x>=5) # dayofweek 출력값이 5,6인 것들은 True로 반환

In [24]:
df.head()

,Date,Sales,PV,UV,Events,year,month,day,dayofweek,weekend
0,2022-01-01,22711525,397349,4421.0,1,2022,1,1,5,True
1,2022-01-02,36779,3969,2289.0,0,2022,1,2,6,True
2,2022-01-03,13943875,373890,NaN,1,2022,1,3,0,False
3,2022-01-04,8088593,142054,2157.0,0,2022,1,4,1,False
4,2022-01-05,2395374,190684,NaN,0,2022,1,5,2,False

In [25]:
# 2022.05 평일, 주말 조건 나눠서 데이터 프레임 만들기. 

weekend_cond = (df['year']==2022) & (df['month']==5) & (df['weekend']) # 조건문에서 마지막은 == True를 안해도 자동으로 인지
weekday_cond = (df['year']==2022) & (df['month']==5) & (~df['weekend'])

In [26]:
weekend = df[weekend_cond]['Sales'].mean()
weekday = df[weekday_cond]['Sales'].mean()

In [32]:
round(weekend - weekday, 2)

3010339.1