## 04_Apply, Map

In [2]:
# import

import pandas as pd

DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'
df = pd.read_csv(DataUrl, index_col = 0)
df.shape

# unnamed는 비어있는 셀에 판다스가 임의로 부여하는 이름. 
# 이게 싫으면 index_col = 0이렇게 하면 인덱스를 임의로 지정할 수 있음

(10127, 18)

⭐️ 56. Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라   

Unknown : N    

Less than $40K : a    

$40K - $60K : b  

$60K - $80K : c  

$80K - $120K : d  

$120K +’ : e  

풀이 논리 -> 해당 문제는 데이터프레임의 칼럼(리스트)의 인자들을 다 탐색하여 바꾸라는 문제이다.

In [12]:
# 데이터 확인하기. 
df.Income_Category.unique()

array(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'], dtype=object)

In [13]:
# 딕셔너리 만들기 - 대응되는 값을 만들어야하니까

dic = {
    'Unknown' : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K' : 'b', 
    '$60K - $80K' : 'c',
    '$80K - $120K' : 'd',
    '$120K +' : 'e'
}

`-` map함수, 매핑은 무엇인가??

어떤 리스트, 판다스 시리즈의 각각의 인자들을 변환 혹은 함수 적용해야할 때 사용함.   
map함수 파라미터는 함수, 시리즈, 등 적용가능한 것들

In [15]:
df['Income_Category'].map(dic) # 딕셔너리의 경우 key값에 대응되는 value값을 바로 뱉음.

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: Income_Category, Length: 10127, dtype: object

In [17]:
# 최종

df['new_Income'] = df['Income_Category'].map(dic)
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,new_Income
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,c
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,a
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,d
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,a
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,c

⭐️ 58. Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라 

Unknown : N

Less than $40K : a

$40K - $60K : b

$60K - $80K : c

$80K - $120K : d

$120K +’ : e

In [18]:
dic = {
    'Unknown' : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K' : 'b', 
    '$60K - $80K' : 'c',
    '$80K - $120K' : 'd',
    '$120K +' : 'e'
}

In [20]:
# map 함수처럼 해보기 
df.Income_Category.apply(dic) # 안된다는걸 알 수 있음.

AttributeError: 'N' is not a valid function for 'Series' object

`-` apply는 무엇일까?

map이랑 거의 유사한데 ,,, 우선 시리즈나 ,, 딕셔너리는 안된다. function 형식으로 파라미터를 넣어야 입력값들이 적용되어 저장이 된다. 

간단하게 말하자면 

apply는 데이터프레임, 시리즈, 리스트 모두 가능. 다만, 딕셔너리 불가. 
map은 시리즈, 리스트만 가능, 펑션도 가능하고 딕셔너리도 가능~!


- 차이점에 대한 블로그 
https://blog.naver.com/PostView.naver?blogId=youji4ever&logNo=222292901767

In [22]:
# 딕셔너리 key값을 value로 반환되는게 안되기 때문에 함수 만들어야함. 

def changeCategory(x):
    if x =='Unknown':
        return 'N'
    elif x =='Less than $40K':
        return 'a'
    elif x =='$40K - $60K':   
        return 'b'
    elif x =='$60K - $80K':    
        return 'c'
    elif x =='$80K - $120K':   
        return 'd'
    elif x =='$120K +' :     
        return 'e'

df['newIncome']  =df.Income_Category.apply(changeCategory)

Ans = df['newIncome']
Ans

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

59. Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라. 

(0 ~ 9 : 0 , 10 ~ 19 :10 , 20 ~ 29 :20 … 각 구간의 빈도수를 출력하라

In [30]:
# 범위에 대한 ,, 거구만,, 이러면 뭐 ,, apply 써야지
df.Customer_Age.unique()

array([45, 49, 51, 40, 44, 32, 37, 48, 42, 65, 56, 35, 57, 41, 61, 47, 62,
       54, 59, 63, 53, 58, 55, 66, 50, 38, 46, 52, 39, 43, 64, 68, 67, 60,
       73, 70, 36, 34, 33, 26, 31, 29, 30, 28, 27])

In [31]:
def myfunc(x):
    if x < 10 :
        return 0
    elif x < 20 :
        return 1
    elif x < 30 :
        return 2
    elif x < 40 :
        return 3 
    elif x < 50 :
        return 4 
    elif x < 60 :
        return 5
    elif x < 70 :
        return 6
    else :
        return 7

df['AgeState'] = df.Customer_Age.apply(myfunc)
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,new_Income,newIncome,AgeState
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,c,c,4
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,a,a,4
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,d,d,5
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,a,a,4
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,c,c,4

In [33]:
# 더 효율적인 코드 

df['AgeState'] = df.Customer_Age.map(lambda x: x//10)
Ans = df.AgeState.value_counts().sort_index()
Ans

2     195
3    1841
4    4561
5    2998
6     530
7       2
Name: AgeState, dtype: int64

⭐️ 60. Education_Level의 값중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력하라

In [4]:
df.Education_Level.unique()

array(['High School', 'Graduate', 'Uneducated', 'Unknown', 'College',
       'Post-Graduate', 'Doctorate'], dtype=object)

In [6]:
df.Education_Level.str.contains('Graduate')

0        False
1         True
2         True
3        False
4        False
         ...
10122     True
10123    False
10124    False
10125     True
10126     True
Name: Education_Level, Length: 10127, dtype: bool

In [17]:
# 이게 안되는건 이미 str을 str로 반환하려는 것 때문에 그런다는데 ,, ㅋㅋ
# str 형식에는 str이라는 함수가 없나봄. 
df.Education_Level[1].str.contains('Graduate')

AttributeError: 'str' object has no attribute 'str'

In [18]:
def myfunc(x):
    if x in 'Graduate':
        return 1
    else :
        return 0 
    
df['newEduLevel'] = df.Education_Level.map(myfunc)
df['newEduLevel'].value_counts()

0    6999
1    3128
Name: newEduLevel, dtype: int64

In [19]:
# 나름 깔끔한 코드 

df['newEduLevel'] = df.Education_Level.map(lambda x : 1 if 'Graduate' in x else 0)
Ans = df['newEduLevel'].value_counts()

# 조건문을 쓸바엔 
# lambda를 사용하면 됨. 익숙하진 않지만
# lambda x : 1 if x in 'Graduate' else 0

61. Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의하라. newLimit 각 값들의 빈도수를 출력하라

In [22]:
df['newLimit'] = df.Credit_Limit.map(lambda x : 1 if x >= 4500 else 0)
df['newLimit'].value_counts()

1    5096
0    5031
Name: newLimit, dtype: int64

62. Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라. newState의 각 값들의 빈도수를 출력하라

- 이렇게 조건이 복잡하다면 함수를 만들어서 적용하면 됨.

In [26]:
def check(x):
    if x.Marital_Status =='Married' and x.Card_Category =='Platinum':
        return 1
    else:
        return 0


df['newState'] = df.apply(check,axis=1)

Ans  = df['newState'].value_counts()

In [33]:
def myfunc(x) :
    if (x.Marital_Status == 'Married') & (x.Card_Category == 'Platinum') :
        return 1 
    else :
        return 0 

df['newState'] = df.apply(myfunc, axis = 1) # axis 차원에 관한것인데 
df.newState.value_counts()

0    10120
1        7
Name: newState, dtype: int64

In [23]:
df.Marital_Status.unique()
df.Card_Category.unique()

array(['Blue', 'Gold', 'Silver', 'Platinum'], dtype=object)

In [34]:
# apply의 axis에 대해 자세히 설명을 해보자! 

def func(x):
    print(x)
    return

df[['Marital_Status','Card_Category']].head(2).apply(func)

0    Married
1     Single
Name: Marital_Status, dtype: object
0    Blue
1    Blue
Name: Card_Category, dtype: object

Marital_Status    None
Card_Category     None
dtype: object

In [35]:
df[['Marital_Status','Card_Category']].head(2)

  Marital_Status Card_Category
0        Married          Blue
1         Single          Blue

결과값으로 보면 apply는 axis = 0이 기본값으로 지정되어 있다.   
axis = 0 -> 2차원에서 (x,열) / axis = 1 -> (행, x) 인거다 차원 해당 번호를 삭제  
따라서 데이터에 함수를 적용할 때 열을 훑으며 적용되는 것.

In [36]:
# 열 조건이 연달아 2개가 있다면 행순서로 훑어야 한다. 

def func(x):
    print(x)
    return

df[['Marital_Status','Card_Category']].head(2).apply(func, axis = 1)

Marital_Status    Married
Card_Category        Blue
Name: 0, dtype: object
Marital_Status    Single
Card_Category       Blue
Name: 1, dtype: object

0    None
1    None
dtype: object

때문에 답안에서 axis = 1 인것!!

63. Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하라. 각 value의 빈도를 출력하라

In [37]:
df.Gender.unique()

array(['M', 'F'], dtype=object)

In [39]:
# 내가 만든 답안.

df['Gender'] = df['Gender'].map(lambda x : 'male' if x == 'M' else 'female')
df.Gender.value_counts()

female    5358
male      4769
Name: Gender, dtype: int64

lambda 함수에서 elif는 없어. 다중 조건을 만들고 싶다면!

```python
lambda x : 'a' if x > 80 else ('b' if x > 70 else 'c')
```

이렇게 만들어줘야함.