## 05-Time_Series

In [45]:
#import 

import pandas as pd

DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'
df = pd.read_csv(DataUrl)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

65. Yr_Mo_Dy을 판다스에서 인식할 수 있는 datetime64타입으로 변경하라

In [5]:
df.Yr_Mo_Dy = df.Yr_Mo_Dy.astype('datetime64') # 선언까지 해줘야함.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   datetime64[ns]
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB

⭐️ 66. Yr_Mo_Dy에 존재하는 년도의 유일값을 모두 출력하라

In [7]:
df.Yr_Mo_Dy.dt.year.unique() #time 형태에서 함수를 쓸때 dt를 써야함.

array([2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978])

⭐️ 67. Yr_Mo_Dy에 년도가 2061년 이상의 경우에는 모두 잘못된 데이터이다. 해당경우의 값은 100을 빼서 새롭게 날짜를 Yr_Mo_Dy 컬럼에 정의하라

In [8]:
# 조금 복잡한 코드
df.Yr_Mo_Dy = pd.to_datetime(df.Yr_Mo_Dy.astype('str').map(lambda x : str(int(x[:4]) - 100) + x[4:] if int(x[:4]) >= 2061 else x))
sorted(df.Yr_Mo_Dy.dt.year.unique()) #sorted는 정렬

[1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978]

68. 년도별 각컬럼의 평균값 구하라

그룹핑 할 때 특정렬의 일부 값으로도 가능함.

In [10]:
df.groupby(df.Yr_Mo_Dy.dt.year).mean().head() #이게 되네 ,, ㅋㅋㅋ

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644

69. weekday컬럼을 만들고 요일별로 매핑하라 ( 월요일: 0 ~ 일요일 :6)

In [11]:
df['weekday'] = df.Yr_Mo_Dy.dt.weekday#weekday가 요일구해주는 함수였어 
df.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,6
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,0
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,2
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,3

70. weekday컬럼을 기준으로 주말이면 1 평일이면 0의 값을 가지는 WeekCheck 컬럼을 만들어라

In [12]:
df['WeekCheck'] = df['weekday'].map(lambda x : 1 if x in [5,6] else 0)
df['WeekCheck'].head(3)

0    1
1    0
2    0
Name: WeekCheck, dtype: int64

71. 년도, 일자 상관없이 모든 컬럼의 각 달의 평균을 구하여라

In [14]:
df.groupby(df.Yr_Mo_Dy.dt.month).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763,2.989247,0.284946
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142,3.005906,0.287402
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317,3.000000,0.283154
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611,3.011111,0.288889
5,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039,2.982079,0.283154
6,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818,3.007407,0.285185
7,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789,3.001792,0.288530
8,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943,2.991039,0.283154
9,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963,3.009259,0.287037
10,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151,2.998208,0.286738
11,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185,2.992593,0.283333
12,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599,3.017921,0.288530

⭐️ 72. 모든 결측치는 컬럼기준 직전의 값으로 대체하고 첫번째 행에 결측치가 있을경우 뒤에있는 값으로 대채하라

In [15]:
df.isna().sum()

Yr_Mo_Dy     0
RPT          6
VAL          3
ROS          2
KIL          5
SHA          2
BIR          0
DUB          3
CLA          2
MUL          3
CLO          1
BEL          0
MAL          4
weekday      0
WeekCheck    0
dtype: int64

In [16]:
df = df.fillna( method = 'ffill').fillna(method='bfill')

In [19]:
df.isna().sum()

Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
weekday      0
WeekCheck    0
dtype: int64

⭐️ 73. 년도 - 월을 기준으로 모든 컬럼의 평균값을 구하여라

In [24]:
df.groupby(df.Yr_Mo_Dy.dt.to_period('M')).mean() # to_period 함수를 쓰면 연 - 월이 집계됨.

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1961-01,14.932581,12.084194,13.431613,7.736774,11.215806,8.588065,11.184839,9.270968,9.085806,10.107419,13.880968,14.703226,2.935484,0.290323
1961-02,16.269286,14.975357,14.324643,9.116786,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786,3.000000,0.285714
1961-03,11.015806,11.296452,10.752903,7.137742,10.509355,8.866774,9.644194,9.829677,10.646129,11.251935,16.410968,15.637742,3.000000,0.258065
1961-04,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333,3.166667,0.333333
1961-05,9.860968,8.735161,10.818065,5.892258,9.490323,6.574839,7.477097,8.177097,8.039355,8.499355,11.900323,12.011613,2.806452,0.258065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194,2.903226,0.258065
1978-09,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333,3.100000,0.300000
1978-10,9.897742,8.670968,9.295806,4.721290,8.525161,6.774194,8.115484,7.337742,8.297742,8.243871,13.776774,17.150000,2.935484,0.290323
1978-11,16.151667,14.802667,13.508000,7.317333,11.475000,8.743000,11.492333,9.657333,10.701333,10.676000,17.404667,20.723000,2.966667,0.266667
1978-12,16.175484,13.748065,15.635161,7.094839,11.398710,9.241613,12.077419,10.194839,10.616774,11.028710,13.859677,21.371613,3.193548,0.322581

---
<시계열>

⭐️ 74. RPT 컬럼의 값을 일자별 기준으로 1차차분하라

- 차분하는 방법

diff() 함수를 사용하면 되나봄!

In [27]:
df.RPT.diff()

0        NaN
1      -0.33
2       3.79
3      -7.92
4       2.75
        ...
6569    3.75
6570   -4.37
6571    0.79
6572    4.50
6573    1.83
Name: RPT, Length: 6574, dtype: float64

⭐️ 75. RPT와 VAL의 컬럼을 일주일 간격으로 각각 이동평균한값을 구하여라

일주일 간격 이동평균 
7개 행씩 평균 내기!

In [46]:
Ans = df[['RPT','VAL']].rolling(7).mean() #rolling(7) 연달은 7개 행을 묶는것 묶어서 1개 행으로 만드느것!
Ans.head(9)

         RPT        VAL
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN
5        NaN        NaN
6  14.124286        NaN
7  13.541429        NaN
8  13.237143  11.392857

In [143]:
# import

df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv')

⭐️ 76. 년-월-일:시 컬럼을 pandas에서 인식할 수 있는 datetime 형태로 변경하라. 서울시의 제공데이터의 경우 0시가 24시로 표현된다

datatime의 경우 24시가 00시로 표시가 되어야 인식할 수 있다.

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1239 entries, 0 to 1238
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   (년-월-일:시)  1239 non-null   object
 1   PM10등급     1233 non-null   object
 2   PM10       1233 non-null   float64
 3   PM2.5등급    1232 non-null   object
 4   PM2.5      1232 non-null   float64
 5   오존등급       1232 non-null   object
 6   오존         1232 non-null   float64
 7   이산화질소등급    1232 non-null   object
 8   이산화질소      1232 non-null   float64
 9   일산화탄소등급    1232 non-null   object
 10  일산화탄소      1232 non-null   float64
 11  아황산가스등급    1232 non-null   object
 12  아황산가스      1232 non-null   float64
dtypes: float64(6), object(7)
memory usage: 126.0+ KB

In [145]:
# 이름바꾸기 

df = df.rename(columns = {'(년-월-일:시)' : 'date'}) 
df.head()

,date,PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스
0,2021-05-15:15,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003
1,2021-05-15:14,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003
2,2021-05-15:13,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004
3,2021-05-15:12,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004
4,2021-05-15:11,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005

In [146]:
df[df['date'].str[-2:] == '24'].head()

,date,PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스
15,2021-05-14:24,보통,80.0,나쁨,52.0,좋음,0.014,보통,0.054,좋음,0.7,좋음,0.006
39,2021-05-13:24,보통,49.0,보통,24.0,좋음,0.024,보통,0.035,좋음,0.5,좋음,0.004
63,2021-05-12:24,보통,38.0,보통,20.0,좋음,0.016,보통,0.050,좋음,0.5,좋음,0.001
87,2021-05-11:24,좋음,19.0,좋음,8.0,좋음,0.024,보통,0.032,좋음,0.4,좋음,0.001
111,2021-05-10:24,좋음,19.0,좋음,10.0,좋음,0.014,보통,0.035,좋음,0.5,좋음,0.001

24시라는건 그날이 지난 다음날을 말하는것.   
따라서 14일 24시라는건 15일 00시라고 생각하면 됨. 

중요한건 달이 바뀌는거겠지 ,,

```python
to_datatime() # 함수는 24시가 있음 적용 안됨 : 표시도 있으면 안되고
```

따라서 apply함수로 내가 만든 함수로 적용해야함.

In [147]:
# 답안 

import datetime

def date_ft(x):
    
    if x[-2:] != '24':
        x = x.replace(':',' ')
        return pd.to_datetime(x)
    
    else :
        date = pd.to_datetime(x.split(':')[0]) + datetime.timedelta(days = 1)
        return date
    
df['date'] = df['date'].apply(date_ft)
df.head()

,date,PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스
0,2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003
1,2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003
2,2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004
3,2021-05-15 12:00:00,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004
4,2021-05-15 11:00:00,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005

⭐️ 77. 일자별 영어요일 이름을 dayName 컬럼에 저장하라

In [148]:
df['dayName'] = df['date'].dt.day_name() #요일 이름 저장
df['dayName']

0       Saturday
1       Saturday
2       Saturday
3       Saturday
4       Saturday
          ...
1234    Thursday
1235    Thursday
1236    Thursday
1237    Thursday
1238    Thursday
Name: dayName, Length: 1239, dtype: object

In [149]:
df.PM10등급

0       보통
1       보통
2       보통
3       보통
4       보통
        ..
1234    보통
1235    보통
1236    보통
1237    보통
1238    보통
Name: PM10등급, Length: 1239, dtype: object

In [150]:
df.groupby(df.date.dt.date).size()

date
2021-03-25    23
2021-03-26    24
2021-03-27    24
2021-03-28    24
2021-03-29    24
2021-03-30    24
2021-03-31    24
2021-04-01    24
2021-04-02    24
2021-04-03    24
2021-04-04    24
2021-04-05    24
2021-04-06    24
2021-04-07    24
2021-04-08    24
2021-04-09    24
2021-04-10    24
2021-04-11    24
2021-04-12    24
2021-04-13    24
2021-04-14    24
2021-04-15    24
2021-04-16    24
2021-04-17    24
2021-04-18    24
2021-04-19    24
2021-04-20    24
2021-04-21    24
2021-04-22    24
2021-04-23    24
2021-04-24    24
2021-04-25    24
2021-04-26    24
2021-04-27    24
2021-04-28    24
2021-04-29    24
2021-04-30    24
2021-05-01    24
2021-05-02    24
2021-05-03    24
2021-05-04    24
2021-05-05    24
2021-05-06    24
2021-05-07    24
2021-05-08    24
2021-05-09    24
2021-05-10    24
2021-05-11    24
2021-05-12    24
2021-05-13    24
2021-05-14    24
2021-05-15    16
dtype: int64

In [151]:
#답안
Ans1 = df.groupby(['dayName','PM10등급'],as_index=False).size()
Ans2 = Ans1.pivot(index='dayName',columns='PM10등급',values='size').fillna(0)

In [152]:
Ans1.head()

  dayName PM10등급  size
0  Friday     나쁨    31
1  Friday   매우나쁨    17
2  Friday     보통   120
3  Friday     좋음    21
4  Monday     나쁨     1

⭐️ 79. 시간이 연속적으로 존재하며 결측치가 없는지 확인. 

문제를 해석하는 영역인데 해당 db는 시간이 1시간 단위로 기록이 되어있다.   
때문에 각 일자에 시간당 데이터가 없으면 결측치가 있다는 것!

In [153]:
df.date.diff() # 결국 차분이란거는 인전한 두 행(데이터)를 빼는것.

0                    NaT
1      -1 days +23:00:00
2      -1 days +23:00:00
3      -1 days +23:00:00
4      -1 days +23:00:00
              ...
1234   -1 days +23:00:00
1235   -1 days +23:00:00
1236   -1 days +23:00:00
1237   -1 days +23:00:00
1238   -1 days +23:00:00
Name: date, Length: 1239, dtype: timedelta64[ns]

각 date를 뺐을때 시간이 연속했다면 시간에 대한 차분은 똑같다.

In [154]:
df.date.diff().unique() # 첫 값은 널값이겠지

array([         'NaT', -3600000000000], dtype='timedelta64[ns]')

In [155]:
len(df.date.diff().unique()) # 널값과 한개의 차분값

2

⭐️ 80. 오전 10시와 오후 10시(22시)의 PM10의 평균값을 각각 구하여라

1. pm10의 시간대별 평균값 구하기 
2. 10시 추출

In [156]:
df.date.dt.hour

0       15
1       14
2       13
3       12
4       11
        ..
1234     5
1235     4
1236     3
1237     2
1238     1
Name: date, Length: 1239, dtype: int64

In [157]:
df.groupby(df.date.dt.hour).mean().PM10[[10,22]]

date
10    70.384615
22    69.941176
Name: PM10, dtype: float64

81. 날짜 컬럼을 index로 만들어라

In [135]:
df = df.rename(columns = {'day' : 'date'}) # 잊지말자 컬럼 이름 바꾸는것

In [159]:
# 인덱스 설정하기 ⭐️

df.set_index('date', inplace = True, drop = True) #drop은 설정한 인덱스 열을 삭제할 것인가?!
df

,PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스,dayName
date,,,,,,,,,,,,,
2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003,Saturday
2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003,Saturday
2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004,Saturday
2021-05-15 12:00:00,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004,Saturday
2021-05-15 11:00:00,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-25 05:00:00,보통,39.0,보통,18.0,좋음,0.026,좋음,0.025,좋음,0.4,좋음,0.003,Thursday
2021-03-25 04:00:00,보통,34.0,좋음,15.0,좋음,0.017,보통,0.033,좋음,0.4,좋음,0.002,Thursday
2021-03-25 03:00:00,보통,35.0,좋음,13.0,좋음,0.029,좋음,0.025,좋음,0.4,좋음,0.003,Thursday
2021-03-25 02:00:00,보통,35.0,좋음,13.0,보통,0.031,좋음,0.025,좋음,0.3,좋음,0.003,Thursday
2021-03-25 01:00:00,보통,42.0,좋음,13.0,좋음,0.022,보통,0.037,좋음,0.4,좋음,0.003,Thursday

82. 데이터를 주단위로 뽑아서 최소,최대 평균, 표준표차를 구하여라

In [177]:
df.drop(['date'], axis = 1, inplace = True)

In [179]:
df.resample('W') # 데이터를 주 단위로 재편성하는 방법

In [182]:
ans = df.resample('W').agg(['min','max','mean','std'])
ans.head()

/var/folders/8f/71pd4qbx6fbgb8x86tf_pwyc0000gn/T/ipykernel_28864/1042533305.py:1: FutureWarning: ['PM10등급', 'PM2.5등급', '오존등급', '이산화질소등급', '일산화탄소등급', '아황산가스등급', 'dayName'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  ans = df.resample('W').agg(['min','max','mean','std'])

            PM10                               PM2.5                    \
             min    max       mean         std   min    max       mean
date
2021-03-28   6.0  160.0  72.747368   43.345462   4.0  113.0  44.705263
2021-04-04   3.0  598.0  97.148810  129.911976   1.0  120.0  23.168675
2021-04-11  17.0  102.0  41.059524   16.325911   7.0   70.0  21.761905
2021-04-18   3.0  367.0  48.180723   43.254468   2.0   38.0  17.066265
2021-04-25  17.0  126.0  55.119048   26.659936   7.0   61.0  26.392857

                          오존         ...     이산화질소           일산화탄소       \
                  std    min    max  ...      mean       std   min  max
date                                 ...
2021-03-28  29.551928  0.002  0.085  ...  0.044579  0.023722   0.3  1.4
2021-04-04  22.399578  0.003  0.055  ...  0.027929  0.014978   0.3  0.9
2021-04-11  11.479343  0.009  0.070  ...  0.022583  0.009562   0.3  0.7
2021-04-18   7.867952  0.002  0.070  ...  0.023753  0.013553   0.3  0.6
2021-04-25  13.094788  0.006  0.090  ...  0.028571  0.014640   0.3  0.8

                                아황산가스
                mean       std    min    max      mean       std
date
2021-03-28  0.611579  0.232408  0.002  0.006  0.003274  0.000961
2021-04-04  0.445833  0.135741  0.002  0.004  0.002732  0.000541
2021-04-11  0.389286  0.087573  0.002  0.004  0.002744  0.000569
2021-04-18  0.386747  0.084954  0.002  0.004  0.002464  0.000579
2021-04-25  0.457143  0.122142  0.001  0.011  0.003631  0.001763

[5 rows x 24 columns]